/* .home-div{
    background: linear-gradient(180deg,#fde1ff 0%,#e1ffea22 60%);
    margin-top: 80px;
}










@media (max-width:500px) {

    .home-div{

        margin-top: 0px;


    }
    
}


 */
