.LoginSignup{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.login-container{
    background-color: beige;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.login-container form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-container form input{
    display: flex;
    flex-direction: column;
    height: 35px;
    width:30vw;
    border-radius: 30px;
}